
// The media library field edit form.
fieldset[id*="media-library-wrapper"] {

  // Add space around the parts of the media item.
  .field-prefix,
  .js-media-library-selection,
  .description,
  .alt-preview,
  article,
  img {
    display: block;
    margin-block: 1em;
  }

  // Make the button added by media_library_edit look like a button instead of a pencil.
  .media-library-edit__link {
    @include button(secondary);
    &, .visually-hidden {
      position: relative !important;
      top: 0;
      right: 0;
      width: auto;
      height: auto;
      background: none;
      margin: 0;
    }
  }

  // Make the filename small, and hide overflow if it is really long.
  article > div:last-child {
    font-size: .8em;
    word-wrap: nowrap;
    max-width: 100%;
    overflow: hidden;
  }
}

// Tweak the form for adding an item to the media library.
#media-library-add-form-wrapper {
  @extend fieldset;
  p {
    font-size: 1rem;
  }
  ul {
    list-style: none;
    padding: 0;
  }
}
