//
// Styles for drupal views.
//

// Display the form filters next to each other.
.views-exposed-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: flex-end;
  .form-item {
    margin: 0;
  }
}

// Display a view of cards in a grid.
.view--view-mode-card {
  .view__content {
    display: grid;
    grid-gap: var(--container-padding);
    grid-template-columns: 1fr;
    @include breakpoint(medium) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include breakpoint(large) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

// The pager.
.view .pager {
  .pager__items {
    margin: calc(var(--container-padding) * 2) 0;
    display: flex;
    column-gap: .5em;
    justify-content: center;
    font-size: 1.125rem;
    a {
      display: inline-block;
      padding: .25em .5em;
      border-radius: .25em;
      background: var(--color-grey-90);
      text-decoration: none;
    }
  }
}
