/**
 *  Color mixin for getting color by name or use.
 *
 *  Usage: Refine the $colors and $color-usage maps in your scss files.
 *
 */

// Define a map of the color palette.
$colors: (
  white:        #ffffff,
  black:        #000000,
  blue:         #0066cc,
  red:          #cc0000,
) !default;

// Define a map that associates common usages with a color.
$color-usage: (
  text:              map-get($colors, black),
  heading:           map-get($colors, black),
  background-body:   map-get($colors, white),
  link:              map-get($colors, blue),
  link-active:       map-get($colors, red),
) !default;

// Function to return the color value for either a usage or color name.
@function color($color) {
  // If a usage has been passed in, return the associated color.
  @if map-get($color-usage, $color) {
    @return map-get($color-usage, $color);
  }
  // If it is not a usage, see if it is a color name.
  @if map-get($colors, $color) {
    @return map-get($colors, $color);
  }
  // If there is no usage or color name, display an error on build.
  @error "Unknown color or color usage: #{$color}";
}
