/**
 * Responsive property mixin for cleaner breakpoint syntax.
 *
 * Usage examples:
 *  @include responsive(padding, 0 2rem, 2rem 4rem, 4rem 6rem);
 *  @include responsive(font-size, 1rem, 2rem);
 *  @include responsive(border, 1px solid #aaa, null, 2px dashed #bbb);
 *
 */

$responsive-breakpoints: (
  medium:   40rem, //  640px
  large:    60rem, //  960px
  xlarge:   80rem, // 1280px
  xxlarge: 100rem, // 1600px
) !default;

@mixin responsive($property, $small, $medium: null, $large: null, $xlarge: null, $xxlarge: null) {
  // Set property for small.
  @if variable-exists(small) and $small != null {
    #{$property}: $small;
  }
  // Set property for medium and up.
  @if variable-exists(medium) and $medium != null {
    @media screen and (min-width: map-get($responsive-breakpoints, medium)) {
      #{$property}: $medium;
    }
  }
  // Set property for large and up.
  @if variable-exists(large) and $large != null {
    @media screen and (min-width: map-get($responsive-breakpoints, large)) {
      #{$property}: $large;
    }
  }
  // Set property for xlarge and up.
  @if variable-exists(xlarge) and $xlarge != null {
    @media screen and (min-width: map-get($responsive-breakpoints, xlarge)) {
      #{$property}: $xlarge;
    }
  }
  // Set font size for xxlarge and up.
  @if variable-exists(xxlarge) and $xxlarge != null {
    @media screen and (min-width: map-get($responsive-breakpoints, xxlarge)) {
      #{$property}: $xxlarge;
    }
  }
}
