

// Set the breakpoints that will be used by the breakpoint mixin.
//  Note: if these values change, you should also edit the breakpoints.yml file.
$responsive-breakpoints: (
  medium:   40rem, //  640px
  large:    60rem, //  960px
  xlarge:   80rem, // 1280px
  xxlarge: 100rem, // 1600px
);

// Set the width and padding of centered containers using the container mixin.
$container-width: 80rem; // 1280px
$container-padding: 1.5rem;

// The colors used in the design pallete.
$colors: (
  white:        #ffffff,
  black:        #000000,
  off-white:    #f2f2f2,
  light-grey:   #d3d3d3,
  mid-grey:     #adadad,
  charcoal:     #323232,
  blue:         #0066cc,
  red:          #cc0000,
);

// Map colors to different common usages.
$color-usage: (
  text:                   map-get($colors, charcoal),
  heading:                map-get($colors, charcoal),
  background-body:        map-get($colors, white),
  background-light:       map-get($colors, off-white),
  main-menu-text:         map-get($colors, charcoal),
  main-menu-background:   map-get($colors, light-grey),
  main-menu-hover:        map-get($colors, mid-grey),
  mobile-menu-text:       map-get($colors, charcoal),
  mobile-menu-background: map-get($colors, off-white),
  mobile-menu-hover:      map-get($colors, light-grey),
  link:                   map-get($colors, blue),
  link-active:            map-get($colors, red),
);


// A copy of the visually-hidden class style from the stable theme.
%visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

// Use border box sizing by default.
*, *::before, *::after {
  box-sizing: border-box;
}

// For some reason normalize.css sets search inputs back to content box.
input[type="search"] {
  box-sizing: border-box;
}

// Set the default body text and background colors.
body {
  background: color(background-body);
  color: color(text);
}

// Set the default link colors.
a, a:visited {
  color: color(link);
  &:active, &:hover {
    color: color(link-active);
  }
}

// Keep extra space from appearing below inline images.
img, svg {
  vertical-align: text-bottom;
}

// Make svgs the same color as the text around them by default.
svg {
  fill: currentColor;
}

// Move button svgs up a bit so they are better vertically aligned.
button svg {
  position: relative;
  top: -.05em;
}
