
// The colors used in the design pallete.
$colors: (
  white:        #ffffff,
  black:        #000000,
  off-white:    #f2f2f2,
  light-grey:   #d3d3d3,
  mid-grey:     #adadad,
  charcoal:     #323232,
  blue:         #0066cc,
  red:          #cc0000,
);


// Map colors to different common usages.
$color-usage: (
  text:              map-get($colors, charcoal),
  heading:           map-get($colors, charcoal),
  background-body:   map-get($colors, white),
  background-light:  map-get($colors, off-white),
  link:              map-get($colors, blue),
  link-active:       map-get($colors, red),
);


// Function to return the color value for a usage or color name.
@function color($color) {

  // If a usage has been passed in, return the associated color.
  @if map-get($color-usage, $color) {
    @return map-get($color-usage, $color);
  }
  // If it is not a usage, see if it is a color name.
  @if map-get($colors, $color) {
    @return map-get($colors, $color);
  }
  // If there is no usage or color name, display an error on build.
  @error "Unknown color or color usage: #{$color}";
}
