
//
// Style the system messages.
//

.status-message {
  @include container;
  margin: $section-spacing auto;
  padding: $container-padding;
  background-color: var(--color-background-light);
  // We are going to use a border with colors to indicate severity.
  border-left: .5rem solid var(--color-message-status);
  &--warning {
    border-color: var(--color-message-warning);
  }
  &--error {
    border-color: var(--color-message-error);
  }
}
