
//
// The main content block.
//
.block--system-main-block {

  // Make sure pages are long enough for the footer to reach the bottom of the screen.
  min-height: 25vh;

  //Add a container around the content on non-node system pages.
  body:not(.route--entity-node-canonical) & {
    @include container;
    margin-bottom: #{$container-padding * 2};
  }
}
