{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 */
#}
{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home" title="Home" class="block--system-branding-block__logo">
      <svg style="max-width: 5rem; max-height: 5rem;" aria-hidden="true">
        <use xlink:href="#symbol-logo"></use>
      </svg>
    </a>
  {% endif %}
  {% if site_name or site_slogan %}
    <div>
      {% if site_name %}
        <h2 class="block--system-branding-block__title">
          <a href="{{ path('<front>') }}" rel="home" title="Home">{{ site_name }}</a>
        </h2>
      {% endif %}
      {% if site_slogan %}
        <div class="block--system-branding-block__slogan">
          {{ site_slogan }}
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
