
.block--system-branding-block {

  // Make the logo smaller on mobile and bigger on desktop.
  svg {
    width: 3rem;
    height: 3rem;
    @include breakpoint(large) {
      width: 5rem;
      height: 5rem;
    }
  }

  a {
    outline-offset: .5rem;
  }

  // Addd extra space below the logo on mobile.
  margin-bottom: $container-padding;
  @include breakpoint(large) {
    margin-bottom: 0;
  }

  // Visually hide the site name.
  &__site-name {
    @extend %visually-hidden;
  }
  // Display the site slogan to the right of the logo on desktop.
  @include breakpoint(large) {
    display: flex;
    align-items: center;
  }
  &__slogan {
    display: none;
    @include breakpoint(large) {
      display: block;
      margin-left: $container-padding;
    }
  }
}


.block--local-tasks-block,
.block--system-main-block,
.block--system-breadcrumb-block,
.block--page-title-block {
  @include container;
}

//
// Style the breadcrumbs side-by-side on desktop and as a back link on mobile.
//
.block--system-breadcrumb-block {
  nav {
    ul, ol {
      // Underline the links on hover.
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      // Display all the items (and their arrows) side-by-side.
      &, li, a {
        display: flex;
      }
      // On mobile, only the immediate parent of the current page is shown.
      li:not(:last-child) {
        display: none;
        @include breakpoint(large) {
          display: flex;
        }
      }
      // On mobile, a back arrow is shown to the left of the parent title.
      li:last-child a::before {
        content: "<";
        width: 1em;
        @include breakpoint(large) {
          content: none;
        }
      }
      // On desktop, a forward arrow is used as a seperator.
      li:not(:first-child)::before {
        @include breakpoint(large) {
          content: ">";
          width: 2rem;
          text-align: center;
        }
      }
    }
  }
}
