
.block--system-branding-block {

  // Add extra space below the branding on mobile.
  margin-bottom: $container-padding;
  @include breakpoint(large) {
    margin-bottom: 0;
  }

  // Display the site name slogan to the right of the logo on desktop.
  display: flex;
  align-items: center;

  &__logo {
    // Make the logo smaller on mobile and bigger on desktop.
    svg {
      width: 3rem;
      height: 3rem;
      @include breakpoint(large) {
        width: 5rem;
        height: 5rem;
      }
    }

    // Use a line below the logo as a hover state.
    position: relative;
    &:hover {
      &::after {
        content: "";
        position: absolute;
        top: calc(100% + .2rem);
        left: 0;
        right: 0;
        border-bottom: .2rem solid color(link-active);
      }
    }

    // Add space between the logo and the site name and slogan.
    margin-right: 1em;
    @include breakpoint(large) {
      margin-right: $container-padding;
    }
  }

  // The site title.
  &__title {
    margin: 0 0 .2em;
    font-size: 1.25em;
    @include breakpoint(large) {
      font-size: 1.5em;
    }
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // Only display site slogan at non-mobile sizes.
  &__slogan {
    display: none;
    @include breakpoint(large) {
      display: block;
    }
  }
}

//
// Style the breadcrumbs side-by-side on desktop and as a back link on mobile.
//
.block--system-breadcrumb-block {
  @include container;
  nav {
    ul, ol {
      // Underline the links on hover.
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      // Display all the items (and their arrows) side-by-side.
      &, li, a {
        display: flex;
      }
      // On mobile, only the immediate parent of the current page is shown.
      li:not(:last-child) {
        display: none;
        @include breakpoint(large) {
          display: flex;
        }
      }
      // On mobile, a back arrow is shown to the left of the parent title.
      li:last-child a::before {
        content: "<";
        width: 1em;
        @include breakpoint(large) {
          content: none;
        }
      }
      // On desktop, a forward arrow is used as a seperator.
      li:not(:first-child)::before {
        @include breakpoint(large) {
          content: ">";
          width: 2rem;
          text-align: center;
        }
      }
    }
  }
}

//
// The page title in the hero region.
//
.block--page-title-block {
  @include container;
}

//
// Content edit tabs for logged in users.
//
.block--local-tasks-block {
  @include container;
  ul {
    display: flex;
    margin: 2em 0;
    li + li {
      margin-left: 2em;
    }
    a.is-active {
      color: color(text);
    }
  }
}
