
//
// The full-page view of a node.
//
.node--view-mode-full .node__content {

  // Text blocks should have a maximum width and section margins.
  > .field--type-text-long,
  > .field--type-text-with-summary {
    @include container;
    > * {
      max-width: $text-column-width;
    }
  }

  // Introduction text is slightly bigger.
  .field--name-field-introduction p {
    font-size: 1.25rem;
    line-height: 1.5;
  }

  // If the body is the last field, add some extra room before the footer.
  > .field--name-body:last-child {
    margin-bottom: $section-spacing * 2;
  }
}
