

#site-header {
  @include container;

  padding-top: $container-padding;

  // Layout of the header elements on desktop.
  @include breakpoint(large) {
    display: grid;
    grid-gap: $container-padding;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    #region--header-branding {
      grid-row: 1 / span 2;
      grid-column: 1;
    }
    #region--header-utility {
      grid-column: 2;
      grid-row: 1;
      text-align: right;
    }
    #region--header-search {
      grid-column: 2;
      text-align: right;
    }
    #region--header-menu {
      grid-column: 1 / span 2;
      grid-row: 3;
    }
  }

  // The menu and search toggle buttons for mobile.
  position: relative;
  .site-header__toggle {
    // Make the icons blocks to prevent inline line spacing issues;
    position: absolute;
    top: #{$container-padding};
    right: #{$container-padding};
    height: 3rem;
    width: 3rem;
    // Small text below a larger icon.
    font-size: .8rem;
    svg {
      font-size: 1.25rem;
    }
    line-height: .9;
    border: 0;
    border-radius: .5rem;
    padding: 0;
    // Don't need mobile toggles on desktop.
    @include breakpoint(large) {
      display: none;
    }
    // Hide the close icon if it is already closed.
    .icon-close {
      display: none;
    }
    // Hide the open icon after we open it.
    &[aria-expanded="true"] {
      .icon-close {
        display: inline;
      }
      .icon-open {
        display: none;
      }
    }

    // We will assume that the button toggles the region that follows it.
    &[aria-expanded="false"] + div {
      display: none;
      @include breakpoint(large) {
        display: block;
      }
    }
    &[aria-expanded="true"] + div {
      display: block;
    }
  }

  // Dislay the search toggle to the left of the menu toggle.
  #site-header__search-toggle {
    right: $container-padding + 4rem;
  }
}

// Show a mobile drawer that covers the whole screen when a menu or search is expanded.
body.mobile-drawer-open {
  height: 100vh;
  overflow: hidden;
  #site-header {
    background: color(background-body);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
  }
  #toolbar-administration {
    display: none;
  }
}
