
//
// Search form area in the header.
//
#region--header-utility {
  // Hide the utility menu on mobile, since a copy will be shown in the main menu region.
  display: none;
  @include breakpoint(large) {
    display: block;
  }
  // Show the menu items side-by-side.
  nav ul {
    display: flex;
    justify-content: flex-end;
    li + li {
      margin-left: 2em;
    }
  }
  // Menu link colors and hover.
  a {
    color: color(text);
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: color(link-active);
    }
  }
  // Add space if there are two menus in this region.
  nav + nav {
    margin-top: 1em;
  }
}

//
// Search form area in the header.
//
#region--header-search {
  form {
    margin-bottom: #{$container-padding};
    @include breakpoint(large) {
      margin-bottom: 0;
    }
    display: flex;
    justify-content: flex-end;
    > *:first-child {
      flex: 1 0 auto;
      @include breakpoint(large) {
        flex-grow: 0;
      }
    }
    input[type="search"] {
      background-color: color(background-light);
      border: 0;
      width: 100%;
      padding: .5em 1em;
      border-radius: .25em 0 0 .25em;
      font-size: 1.4rem;
      @include breakpoint(large) {
        font-size: 1rem;
      }
    }
    // Style the submit button (and the original input that is swapped out by js).
    button, input[type="submit"] {
      background-color: color(background-light);
      border: 0;
      border-radius: 0 .25em .25em 0;
      padding: .5em .75em;
      font-size: 1.4rem;
      @include breakpoint(large) {
        font-size: 1rem;
      }
    }
  }
}

//
// The hero area.
//
#region--hero {
  background: color(background-light);
  padding: #{$container-padding} 0;
}

//
// The site footer.
//
#region--footer {
  background: color(background-light);
  padding: #{$container-padding * 2} 0;
  // Footer is one column on mobile, two on tablet, and four on desktop.
  .region__content {
    @include container;
    display: grid;
    grid-gap: $container-padding;
    @include breakpoint(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
    }
    // Don't include a top margin on block or menu titles.
    > * > *:first-child {
        margin-top: 0;
    }
    // Add some space between menu items.
    nav li {
      margin: .5em 0;
    }
  }
}

//
// The site footer.
//
#region--copyright {
  background: color(light-grey);
  padding: .5em 0;
  .region__content {
    @include container;
  }
}
