

// Set the breakpoints that will be used by the breakpoint mixin.
//  Note: if these values change, you should also edit the breakpoints.yml file.
$responsive-breakpoints: (
  medium:   40rem, //  640px
  large:    60rem, //  960px
  xlarge:   80rem, // 1280px
  xxlarge: 100rem, // 1600px
);

// Set the width and padding of centered containers using the container mixin.
$container-width: 80rem; // 1280px
$container-padding: 1.5rem;

// A smaller width for text blocks to make them legible.
$text-column-width: 48rem; // 768px

// The size of the margins above and below non-full-bleed sections. Usually matches the top margin of an h2.
$section-spacing: 3rem;

// The colors used in the design pallete.
$colors: (
  white:        #ffffff,
  grey-90:      #f2f2f2,
  grey-80:      #d3d3d3,
  grey-70:      #adadad,
  grey-20:      #323232,
  black:        #000000,
  blue:         #0066cc,
  orange:       #e0ac00,
  red-80:       #ffdddd,
  red-60:       #cc0000,
  red-40:       #990000,
);

// Map colors to different common usages.
$color-usage: (
  text:                   map-get($colors, grey-20),
  heading:                map-get($colors, grey-20),
  background-body:        map-get($colors, white),
  background-light:       map-get($colors, grey-90),
  main-menu-text:         map-get($colors, grey-20),
  main-menu-background:   map-get($colors, grey-80),
  main-menu-hover:        map-get($colors, grey-70),
  mobile-menu-text:       map-get($colors, grey-20),
  mobile-menu-background: map-get($colors, grey-90),
  mobile-menu-hover:      map-get($colors, grey-80),
  link:                   map-get($colors, blue),
  link-active:            map-get($colors, red-60),
  message-status:         map-get($colors, blue),
  message-warning:        map-get($colors, orange),
  message-error:          map-get($colors, red-60),
  alert-text:             map-get($colors, red-40),
  alert-background:       map-get($colors, red-80),
);


// Use border box sizing by default.
*, *::before, *::after {
  box-sizing: border-box;
}

// For some reason normalize.css sets search inputs back to content box.
input[type="search"] {
  box-sizing: border-box;
}

// Set the default body text and background colors.
body {
  background: color(background-body);
  color: color(text);
}

// Set the default link colors.
a, a:visited {
  color: color(link);
  &:active, &:hover {
    color: color(link-active);
  }
}

// Remove link underline on click to show activation.
a:active {
  text-decoration: none;
}

// Add a little extra space around links when a focus outline is visible.
a {
  outline-offset: .2em;
}

// Keep extra space from appearing below inline images.
img, svg {
  vertical-align: text-bottom;
}

// Keep images from expanding beyond their containers;
img {
  max-width: 100%;
  height: auto;
}

// Make svgs the same size and color as the text around them by default.
svg {
  &, & path {
    fill: currentColor;
    stroke: currentColor;
  }
  height: 1em;
  width: 1em;
  vertical-align: baseline;
}

// Make sure there is space between the text and extlink icons.
svg.ext, svg.mailto {
  @extend svg;
  margin-left: .25em;
}

// Move button svgs up a bit so they are better vertically aligned.
button svg {
  position: relative;
  top: -.05em;
}

// Turn off all css animations if the user prefers reduced motion.
@media (prefers-reduced-motion) {
  *, *::before, *::after {
    animation: none !important;
    transition: none !important;
  }
}
