

// Set the breakpoints that will be used by the breakpoint mixin.
//  Note: if these values change, you should also edit the breakpoints.yml file.
$responsive-breakpoints: (
  medium:   40rem, //  640px
  large:    60rem, //  960px
  xlarge:   80rem, // 1280px
  xxlarge: 100rem, // 1600px
);

// Set the width and padding of centered containers using the container mixin.
$container-width: 80rem; // 1280px
$container-padding: 1.5rem;

// A smaller width for text blocks to make them legible.
$text-column-width: 48rem; // 768px

// The size of the margins above and below non-full-bleed sections. Usually matches the top margin of an h2.
$section-spacing: 3rem;

// Use border box sizing by default.
*, *::before, *::after {
  box-sizing: border-box;
}

// For some reason normalize.css sets search inputs back to content box.
input[type="search"] {
  box-sizing: border-box;
}

// Remove link underline on click to show activation.
a:active {
  text-decoration: none;
}

// Add a little extra space around links when a focus outline is visible.
a {
  outline-offset: .2em;
}

// Keep extra space from appearing below inline images.
img, svg {
  vertical-align: text-bottom;
}

// Keep images from expanding beyond their containers;
img {
  max-width: 100%;
  height: auto;
}

// Make svgs the same size and color as the text around them by default.
svg {
  &, & path {
    fill: currentColor;
    stroke: currentColor;
  }
  height: 1em;
  width: 1em;
  vertical-align: baseline;
}

// Make sure there is space between the text and extlink icons.
svg.ext, svg.mailto {
  @extend svg;
  margin-left: .25em;
}

// Move button svgs up a bit so they are better vertically aligned.
button svg {
  position: relative;
  top: -.05em;
}

// Turn off all css animations if the user prefers reduced motion.
@media (prefers-reduced-motion) {
  *, *::before, *::after {
    animation: none !important;
    transition: none !important;
  }
}
