

// We are going to use css variables to store our color variables, to make it easy to support light mode.
:root {

  // The palette for this site, matching color names to hexadecimal values.
  --color-white:        #ffffff;
  --color-grey-90:      #f2f2f2;
  --color-grey-80:      #d3d3d3;
  --color-grey-70:      #adadad;
  --color-grey-50:      #666666;
  --color-grey-20:      #323232;
  --color-black:        #000000;
  --color-blue-90:      #DBEAFE;
  --color-blue-60:      #3B82F6;
  --color-blue-50:      #2563EB;
  --color-blue-40:      #1D4ED8;
  --color-red-80:       #ffdddd;
  --color-red-60:       #cc0000;
  --color-red-40:       #990000;

  // Assign colors to common usages that should match each other and change together.
  --color-text:                   var(--color-grey-20);
  --color-heading:                var(--color-grey-20);
  --color-background-body:        var(--color-white);
  --color-background-light:       var(--color-grey-90);
  --color-background-heading:     var(--color-grey-80);
  --color-unpublished-background: var(--color-red-80);
  --color-action:                 var(--color-blue-50);
  --color-action-active:          var(--color-blue-40);
  --color-separator:              var(--color-grey-20);

  --color-main-menu-background:   var(--color-grey-90);
  --color-main-menu-hover:        var(--color-grey-80);
  --color-main-menu-text:         var(--color-grey-20);
  --color-main-menu-separator:    var(--color-white);

  --color-table-zebra:            var(--color-grey-90);
  --color-table-head:             var(--color-grey-80);
  --color-table-border:           var(--color-grey-20);

  --color-error-background:       var(--color-red-80);

  --color-form-border:            var(--color-grey-80);

  // Button colors used by the button mixin.
  --color-button-primary-text:               var(--color-white);
  --color-button-primary-background:         var(--color-blue-50);
  --color-button-primary-border:             var(--color-blue-50);
  --color-button-primary-text-hover:         var(--color-white);
  --color-button-primary-background-hover:   var(--color-blue-40);
  --color-button-primary-border-hover:       var(--color-blue-40);
  --color-button-secondary-text:             var(--color-blue-50);
  --color-button-secondary-background:       var(--color-white);
  --color-button-secondary-border:           var(--color-blue-50);
  --color-button-secondary-text-hover:       var(--color-blue-50);
  --color-button-secondary-background-hover: var(--color-blue-90);
  --color-button-secondary-border-hover:     var(--color-blue-50);
}

// Set the default body text and background colors.
body {
  background: var(--color-background-body);
  color: var(--color-text);
}

// Make sure it is clear when nodes are unpublished.
.node--unpublished {
  background: var(--color-unpublished-background);
}
