
// Set the breakpoints that will be used by the breakpoint mixin.
//  Note: if these values change, you should also edit the breakpoints.yml file.
$responsive-breakpoints: (
  medium:   40rem, //  640px
  large:    60rem, //  960px
  xlarge:   80rem, // 1280px
  xxlarge: 100rem, // 1600px
);

// Set the width and padding of centered containers using the container mixin.
$container-width: 70rem; // 1120px
$container-padding: 1.5rem;

// A smaller width for text blocks to make them legible.
$text-column-width: 48rem; // 768px

// The size of the margins above and below non-full-bleed sections. Usually matches the top margin of an h2.
$section-spacing: 3rem;

// Use border box sizing by default.
*, *::before, *::after {
  box-sizing: border-box;
}

// For some reason normalize.css sets search inputs back to content box.
input[type="search"] {
  box-sizing: border-box;
}
