
// Use google fonts for now, but font files should be downloaded locally for production sites.
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

// Text-related variables.
:root {

  --font-family-sans: 'Inter', sans-serif;
  --font-family-serif: serif;

  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-size-100: 2rem; // 32px
  --font-size-200: 1.75rem; // 28px
  --font-size-300: 1.5rem; // 24px
  --font-size-400: 1.25rem; // 20px
  --font-size-500: 1.125em; // 18px
  --font-size-600: 1rem; // 16px

  --line-height-heading: 1.2;
  --line-height-paragraph: 1.5;
}

// Set the default font family and weight for text across the site.
body {
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-normal);
}

// Common spacing and styles for all headings.
h1, h2, h3, h4, h5, h6 {
  margin-block: 2em .5em;
  line-height: var(--line-height-heading);
  font-weight: var(--font-weight-bold);
}

// Sizes of the different heading levels.
h1 { font-size: var(--font-size-100); }
h2 { font-size: var(--font-size-200); }
h3 { font-size: var(--font-size-300); }
h4 { font-size: var(--font-size-400); }
h5 { font-size: var(--font-size-500); }
h6 { font-size: var(--font-size-600); }

// Assume all paragraphs are page content by default.
p, figcaption {
  margin-block: 1em;
  font-size: var(--font-size-500);
  line-height: var(--line-height-paragraph);
}

// Bold text.
strong {
  font-weight: var(--font-weight-bold);
}
