//
// Menu drawer in the mobile header.
//

#region--mobile-menus {
  nav {
    // Add extra space below the menus so they don't get cut off on ios.
    margin-bottom: #{$container-padding * 2};

    // Add lines between all menu items on mobile.
    li {
      border-top: 1px solid var(--color-background-body);
    }

    // Common menu link styles.
    a {
      display: block;
      height: 100%;
      color: var(--color-mobile-menu-item-a);
      font-weight: bold;
      text-decoration: none;
      padding: $container-padding;
      // Leave room for the submenu toggle on mobile.
      padding-right: calc(#{$container-padding} * 2 + 2em);
      &:hover, &:focus {
        outline-offset: -1px;
        background: var(--color-mobile-menu-item-a-hover);
      }
    }

    // Have a background color for the main menu, and make the children slightly lighter.
    ul {
      background: var(--color-mobile-menu-background);
      ul {
        background: rgba(255,255,255,.5);
      }
    }

    // Hide sub-items to start and give them a normal font weight.
    ul ul {
      display: none;
      a {
        font-weight: normal;
      }
    }

    // The mobile submenu toggle button.
    li {
      position: relative;
      button.menu-item-toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: calc($container-padding / 2) $container-padding;
        border: 0;
        background: transparent;
        svg {
          background: rgba(255, 255, 255, .5);
          border-radius: .5em;
          border: 1.5px solid transparent;
          box-sizing: content-box;
          padding: calc($container-padding / 2);
        }
        &:hover {
          svg {
            background: var(--color-mobile-menu-item-a-hover);
          }
        }
        &:focus {
          outline: 0;
          svg {
            border-color: var(--color-mobile-menu-item-a);
          }
        }
        &[aria-expanded="true"] {
          svg {
            transform: rotate(180deg);
          }
          & + ul {
            display: block;
          }
        }
      }
    }

    // Style the any additional menus that are added to the mobile drawer.
    &:not(:first-child) {
      ul {
        background: var(--color-mobile-menu-background);
      }
      li:hover > a {
        background: var(--color-mobile-menu-item-a-hover);
      }
      a {
        color: var(--color-mobile-menu-item-a);
      }
    }
  }
}
