//
// Search form in the mobile header.
//

#region--mobile-search {
  form {
    display: flex;
    justify-content: flex-end;
    > *:first-child {
      flex: 1 0 auto;
    }
    input[type="search"] {
      background-color: var(--color-background-light);
      border: 0;
      width: 100%;
      padding: .5em 1em;
      border-radius: .25em 0 0 .25em;
      font-size: 1.4rem;
    }
    // Style the submit button (and the original input that is swapped out by js).
    button, input[type="submit"] {
      background-color: var(--color-background-light);
      border: 0;
      border-radius: 0 .25em .25em 0;
      padding: .5em .75em;
      font-size: 1.4rem;
      line-height: 1;
    }
  }
}
