//
// The emergency alert region on desktop and mobile, currently assuming the alert is a standard custom block.
//

// The emergency alert toggle extends upwards to touch the alert banner.
#region-toggle--alert {
  color: color(alert-text);
  background: color(alert-background);
  border-radius: 0 0 .5rem .5rem;
  margin-top: 0;
  // The emergency alert toggle is visible on desktop.
  @include breakpoint(large) {
    margin: 0 $container-padding;
    padding: .5rem .25rem;
    height: 4rem;
    width: 3.5rem;
    line-height: 1.1;
  }
  // Move the button up into the alert banner.
  &[aria-expanded="true"] {
    border-radius: .5rem;
    padding-top: 0;
    height: 3rem;
    margin-top: .5rem;
    @include breakpoint(large) {
      padding-top: .75rem;
      height: 3.5rem;
    }
  }
}

#region--alert {
  color: color(alert-text);
  background: color(alert-background);
  .region__content {
    @include container;
    // Leave space for the collapse button to overlap the alert banner.
    padding-right: 4rem;
    @include breakpoint(large) {
      padding-right: 5.5rem;
    }
    // Don't need to leave space when the screen is wider than the container.
    @include breakpoint (xxlarge) {
      padding-right: $container-padding;
    }
  }

  // Set the text size for both the block title and contents.
  h2, p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 1em 0;
  }

  // Make links in the alert into buttons, so they are obvious and easily clickable on mobile.
  a {
    font-size: .9rem;
    display: inline-block;
    color: color(alert-text);
    border: 2px solid color(alert-text);
    border-radius: 1em;
    padding: .25em 1em;
    text-decoration: none;
    margin: 0 $container-padding 0 0;
    &:hover, &:focus {
      color: color(alert-background);
      background-color: color(alert-text);
      border-color: color(alert-background);
    }
  }

  // On desktop, view the contents side-by-side.
  @include breakpoint(large) {
    .block {
      display: flex;
      align-items: flex-start;
      width: 100%;
      column-gap: $container-padding;
      // Don't wrap within headings or link buttons.
      h2, a {
        white-space: nowrap;
      }
      .field--name-body {
        display: flex;
        align-items: flex-start;
        a {
          margin: 0 0 0 $container-padding;
        }
      }
    }
  }
}
