//
// Utility menu(s) in the desktop header.
//
#region--header-utility {
  // Show the menu items side-by-side.
  nav ul:not(.contextual-links) {
    display: flex;
    justify-content: flex-end;
    li + li {
      margin-left: 2em;
    }
  }
  // Menu link colors and hover.
  a {
    color: var(--color-utility-menu-a);
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: var(--color-utility-menu-a-hover);
    }
  }
  // Add space if there are two menus in this region.
  nav + nav {
    margin-top: 1em;
  }
}
