
//
// The copyright bar at the bottom of the footer.
//
#region--copyright {
  background: var(--color-region-copyright-background);
  padding: .5em 0;
  a, a:visited {
    color: var(--color-region-copyright-text);
  }
  .region__content {
    @include container;
    display: flex;
    justify-content: space-between;
  }

  // Show the menu items side-by-side.
  nav ul:not(.contextual-links) {
    display: flex;
    li + li {
      margin-left: 2em;
    }
  }
}
