
// Remove link underline on click to show activation.
a:active {
  text-decoration: none;
}

// Add a little extra space around links when a focus outline is visible.
a {
  outline-offset: .2em;
}

// Create a pseudo-class so links can be made into buttons using scss extends.
%button {
  background-color: color(grey-20);
  color: color(grey-90);
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 1rem;
  padding: .5em 1em;
  border-radius: 1em;
  &:visited {
    color: color(grey-20);
  }
  &:hover, &:active {
    color: color(grey-50);
  }
}

// Apply to links with actual classes of button.
a.button {
  @extend %button;
}
