
// Keep extra space from appearing below inline images.
img, svg {
  vertical-align: text-bottom;
}

// Keep images from expanding beyond their containers;
img {
  max-width: 100%;
  height: auto;
}

// Make svgs the same size and color as the text around them by default.
svg {
  height: 1em;
  width: 1em;
  vertical-align: baseline;
  &, & path {
    fill: currentColor;
    stroke: currentColor;
  }
}

// Make sure there is space between the text and extlink icons.
svg.mailto, svg.tel, svg.ext {
  @extend svg;
  width: 0.9em;
  height: 0.9em;
  vertical-align: top;
  margin-left: 0.1em;
  margin-right: -0.1em;
}

svg.mailto, svg.tel, svg.ext {
  width: 0.9em;
  height: 0.9em;
  vertical-align: top;
  margin-left: 0.1em;
  margin-right: -0.1em;
}

// Move button svgs up a bit so they are better vertically aligned.
button svg {
  position: relative;
  top: -.05em;
}

// For some reason pictures are not displayed as blocks by default.
picture {
  display: block;
}

// For some reason normalize indents figures, including images with captions.
figure {
  margin: var(--container-padding) 0;
}

// Add a little space around figcaptions.
figcaption {
  margin: .5em 0;
  font-size: 1rem;
  text-align: right;
}
