
// Set the default link colors.
a, a:visited {
  color: color(action);
  &:active, &:hover {
    color: color(action-active);
  }
}

// Remove link underline on click to show activation.
a:active {
  text-decoration: none;
}

// Add a little extra space around links when a focus outline is visible.
a {
  outline-offset: .2em;
}

// Create a pseudo-class so links can be made into buttons using scss extends.
%button {
  display: inline-block;
  background-color: color(action);
  color: color(background-body);
  text-align: center;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-600);
  padding: .6em 1.2em;
  border-radius: .5em;
  border: .15em solid color(action);
  &:hover, &:active {
    color: color(background-body);
    background-color: color(action-active);
    border-color: color(action-active);
  }
  &:active {
    position: relative;
    top: .1em;
  }
}

// Apply to links with actual classes of button.
a.button {
  @extend %button;
}

// Secondary buttons are in outline style.
%button--secondary {
  @extend %button;
  background-color: color(background-body);
  color: color(action);
  &:hover, &:active {
    background-color: color(background-body);
    color: color(action-active);
  }
}

// Apply to links with actual classes of button.
a.button--secondary {
  @extend %button--secondary;
}
