

// Html tables for showing data.
table {
  margin-top: var(--container-padding);
  thead {
    background-color: var(--color-table-head);
    border-bottom: .1em solid var(--color-table-border);
    th {
      padding: .5em;
    }
  }
  tbody {
    tr:nth-child(even) {background: var(--color-table-zebra) }
    td {
      padding: .5em;
    }
  }
}

// Allow the table to scroll on mobile, inside of a wrapping div added by js.
.table-scroll {
  margin: 0 calc(-1 * var(--container-padding));
  padding: 0 var(--container-padding);
  overflow-x: auto;
}
