

#site-header {
  @include container;
  padding-top: $container-padding;
  display: grid;

  // Mobile header has the branding block and two buttons side-by-side.
  grid-template-columns: 3fr auto auto;
  grid-column-gap: 1rem;

  // Since the site-header is 100vh with the mobile drawer open, make sure elements stay at the top.
  grid-auto-rows: min-content;

  #region--header-branding {
    grid-row: 1;
    grid-column: 1;
  }
  #region--header-utility {
    display: none;
  }
  #region--header-search {
    display: none;
  }
  #region--header-menu {
    display: none;
  }
  #site-header__search-toggle {
    grid-row: 1;
    grid-column: 2;
  }
  #site-header__menu-toggle {
    grid-row: 1;
    grid-column: 3;
  }
  #region--mobile-search {
    grid-row: 2;
    grid-column: 1 / span 3;
  }
  #region--mobile-menus {
    grid-row: 3;
    grid-column: 1 / span 3;
  }

  // Layout of the header elements on desktop.
  @include breakpoint(large) {

    grid-gap: $container-padding;
    align-items: center;

    grid-template-columns: 1fr 1fr;
    #region--header-branding {
      grid-row: 1 / span 2;
      grid-column: 1;
    }
    #region--header-utility {
      display: block;
      grid-column: 2;
      grid-row: 1;
      text-align: right;
    }
    #region--header-search {
      display: block;
      grid-column: 2;
      text-align: right;
    }
    #region--header-menu {
      display: block;
      grid-column: 1 / span 2;
      grid-row: 3;
    }
    #site-header__search-toggle {
      display: none;
    }
    #site-header__menu-toggle {
      display: none;
    }
    #region--mobile-search {
      display: none;
    }
    #region--mobile-menus {
      display: none;
    }
  }

  // The menu and search toggle buttons for mobile.
  .site-header__toggle {
    height: 3rem;
    width: 3rem;
    // Small text below a larger icon.
    font-size: .8rem;
    svg {
      font-size: 1.25rem;
    }
    line-height: .9;
    border: 0;
    border-radius: .5rem;
    padding: 0;
    // Don't need mobile toggles on desktop.
    @include breakpoint(large) {
      display: none;
    }
    // Hide the close icon if it is already closed.
    .icon-close {
      display: none;
    }
    // Hide the open icon after we open it.
    &[aria-expanded="true"] {
      .icon-close {
        display: inline;
      }
      .icon-open {
        display: none;
      }
    }
  }
}

// Show a mobile drawer that covers the whole screen when a menu or search is expanded.
body.mobile-drawer-open {
  height: 100vh;
  overflow: hidden;
  #site-header {
    background: color(background-body);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
  }
  #toolbar-administration {
    display: none;
  }
}
