

#site-header {
  display: grid;

  // Needed to shift the alert banner toggle.
  position: relative;

  // Layout of the mobile header, including emergency alerts and skip link.
  grid-template-columns: 3fr auto auto auto;
  grid-template-areas:
    "alert  alert  alert  alert" // The emergency alert banner.
    "skip   skip   skip   atog"  // The skip to content link, and toggle buttons.
    "brand  stog   mtog   atog"  // The logo/name, and toggle buttons.
    "srch   srch   srch   srch"  // The mobile search form.
    "menu   menu   menu   menu"  // The mobile menus.
    ;

  // Since the site-header is 100vh with the mobile drawer open, make sure elements stay at the top.
  grid-auto-rows: min-content;

  // Layout of the header elements on desktop.
  @include breakpoint(large) {

    // Vertically align items like the logo since adjacent content can vary in height;
    align-items: center;

    // Set up the areas that the header elements will be placed into.
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-areas:
      "alert  alert  alert  alert" // The emergency alert banner.
      "lpad   skip   skip   atog"  // The skip link alert toggle.
      "lpad   brand  util   atog"  // The branding and utility menu (and container padding).
      "lpad   brand  srch   rpad"  // The branding and search form (and container padding).
      "menu   menu   menu   menu"  // The main menu.
      ;

    // Use before/after pseudo elements as grid columns to push the non-full-bleed rows to container width.
    &::before, &::after {
      content: "";
      grid-area: lpad;
      width: calc((100vw - #{$container-width} - #{$container-padding} * 2) / 2);
      margin-right: $container-padding;
    }
    &::after {
      grid-area: rpad;
    }
  }

  // The alert banner toggle, both on mobile and desktop.
  #region-toggle--alert {
    grid-area: atog;
    align-self: start;
    justify-self: end;
    // Move the toggle up into the alert region if it is open.
    &[aria-expanded="true"] {
      grid-area: alert;
      z-index: 10;
    }
  }

  // The emergency alert banner.
  #region--alert {
    grid-area: alert;
    // Show a bit of the alert banner at the top of the screen, even if the content is hidden.
    padding-bottom: calc($container-padding / 2);
    @include breakpoint(large) {
      padding: .25rem 0;
    }
  }

  // The skip to content link that appears on focus.
  #skip-to-content {
    grid-area: skip;
    display: inline-block;
    margin: $container-padding  $container-padding 0 $container-padding;
    @include breakpoint(large) {
      margin-left: 0;
    }
  }

  // Position of the header branding on mobile and desktop.
  #region--header-branding {
    grid-area: brand;
    padding: $container-padding;
    @include breakpoint(large) {
      padding: $container-padding $container-padding $container-padding 0;
    }
  }

  // Visibility and position of the utility menu on mobile and desktop.
  #region--header-utility {
    display: none;
    @include breakpoint(large) {
      display: block;
      grid-area: util;
      text-align: right;
      padding: $container-padding 0;
    }
  }

  // Visibility and position of the search form on desktop.
  #region--header-search {
    display: none;
    @include breakpoint(large) {
      display: block;
      grid-area: srch;
      text-align: right;
      padding: 0 0 $container-padding 0 ;
    }
  }

  // Visibility and position of the search toggle on mobile.
  #region-toggle--mobile-search {
    grid-area: stog;
    @include breakpoint(large) {
      display: none;
    }
  }

  // Visibility and position of the search form on mobile.
  #region--mobile-search {
    grid-area: srch;
    padding: 0 $container-padding #{$container-padding * 2} $container-padding;
    @include breakpoint(large) {
      display: none;
    }
  }

  // Visibility and position of the menu toggle on mobile.
  #region-toggle--mobile-menus {
    grid-area: mtog;
    @include breakpoint(large) {
      display: none;
    }
  }

  // Visibility and position of the menu drawer on mobile.
  #region--mobile-menus {
    grid-area: menu;
    @include breakpoint(large) {
      display: none;
    }
  }


  // Visibility and container for the main menu bar on desktop.
  #region--header-menu {
    display: none;
    @include breakpoint(large) {
      display: block;
      grid-area: menu;
      // Since the menu bar is full-bleed, it needs a container within it.
      .region__content {
        @include container;
      }
    }
  }
}

// Show a mobile drawer that covers the whole screen when a menu or search is expanded.
body.mobile-drawer-open {
  height: 100vh;
  overflow: hidden;
  #site-header {
    background: color(background-body);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 100;
  }
  #toolbar-administration {
    display: none;
  }
}
