{% extends "region.html.twig" %}

{% block before %}
  <button role="search" id="site-header__search-toggle" class="site-header__toggle" aria-controls="region--header-menu" aria-expanded="true">
    <svg class="icon-open" style="width:1em; height: 1em;" aria-hidden="true"><use xlink:href="#symbol-search" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
    <svg class="icon-close" style="width:1em; height: 1em;" aria-hidden="true"><use xlink:href="#symbol-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
    <span class="visually-hidden">Toggle</span> Search
  </button>
{% endblock %}
