{% extends "region.html.twig" %}

{% block after %}
  <button role="navigation" id="site-header__alert-toggle" class="site-header__toggle" aria-controls="region--alert__content" aria-expanded="true" style="">
    <svg class="icon-open" style="width:1em; height: 1em;" aria-hidden="true"><use xlink:href="#symbol-alert" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
    <svg class="icon-close" style="width:1em; height: 1em;" aria-hidden="true"><use xlink:href="#symbol-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
    <span class="text-open visually-hidden">View Emergency</span> <span class="text-close visually-hidden">Hide Emergency</span> Alert
  </button>
{% endblock %}
