

#site-header {
  @include container;

  margin-top: $container-padding;

  // Layout of the header elements on desktop.
  @include breakpoint(large) {
    display: grid;
    grid-gap: $container-padding;
    grid-template-columns: 1fr 2fr;
    #region--header-branding {
      grid-row: 1 / span 2;
      grid-column: 1;
    }
    #region--header-utility {
      grid-column: 2;
      grid-row: 1;
      text-align: right;
    }
    #region--header-search {
      grid-column: 2;
      text-align: right;
    }
    #region--header-menu {
      grid-column: 1 / span 2;
      grid-row: 3;
    }
  }

  // The menu and search toggle buttons for mobile.
  position: relative;
  .site-header__toggle {
    // Make the icons blocks to prevent inline line spacing issues;
    svg {
      display: block;
    }
    position: absolute;
    top: 0;
    right: #{$container-padding};
    // Don't need mobile toggles on desktop.
    @include breakpoint(large) {
      display: none;
    }
    // Hide the close icon if it is already closed.
    .icon-close {
      display: none;
    }
    // Hide the open icon after we open it.
    &[aria-expanded="true"] {
      .icon-close {
        display: block;
      }
      .icon-open {
        display: none;
      }
    }

    // We will assume that the button toggles the region that follows it.
    &[aria-expanded="false"] + div {
      display: none;
      @include breakpoint(large) {
        display: block;
      }
    }
    &[aria-expanded="true"] + div {
      display: block;
    }
  }

  // Dislay the search toggle to the left of the menu toggle.
  #site-header__search-toggle {
    right: $container-padding + 4rem;
  }
}

// Hide the utility menu on mobile, since a copy will be shown in the main menu region.
#region--header-utility {
  display: none;
  @include breakpoint(large) {
    display: block;
  }
}


#region--header-menu {
  // Have a background color for the main menu, and extend it to the edge of the container.
  background: color(menu-background);
  margin: 0 -#{$container-padding};

  // Fill in the areas to the left and the right of the menu bar with the background color.
  position: relative;
  &::before, &::after {
    content: "";
    position: absolute;
    width: calc(50vw - #{$container-width} / 2 - #{$container-padding});
    height: 100%;
    background: color(menu-background);
    top: 0;
  }
  &::before { right: 100%; }
  &::after { left: 100%; }

  ul {
    li {
      // Use the container padding, so the text of the first item is aligned with other elements.
      padding: 1em #{$container-padding};
      border-bottom: 1px solid color(background-body);
      @include breakpoint(large) {
        border-bottom: none;
      }
    }
    @include breakpoint(large) {
      display: flex;
    }
  }
  a {
    color: color(text);
    font-weight: bold;
    font-size: 1.125rem;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


#region--header-search {
  form * {
    display: inline;
  }
}



// The hero area.
main > header {
  background: color(background-light);
  padding: #{$container-padding} 0;
}

// The site footer.
#site-footer {
  background: color(background-light);
  padding: #{$container-padding} 0;
}
