
#region--header-menu {
  nav {

    // Extend the menu to the edge of screen on mobile, and line up the text on desktop.
    margin: 0 -#{$container-padding};

    // Add space between menus in the mobile drawer.
    & + nav {
      margin-top: $container-padding * 2;
    }

    // Have a background color for the main menu.
    ul {
      background: color(main-menu-background);
    }

    // Fill in the areas to the left and the right of the main menu bar with the background color.
    @include breakpoint(large) {
      position: relative;
      &::before, &::after {
        content: "";
        position: absolute;
        width: calc(50vw - #{$container-width} / 2 - #{$container-padding});
        height: 100%;
        background: color(main-menu-background);
        top: 0;
      }
      &::before { right: 100%; }
      &::after { left: 100%; }
    }

    // Add lines between all menu items on mobile, and in the dropdowns on desktop;
    li {
      border-top: 1px solid color(background-body);
      @include breakpoint(large) {
        border-top: 0;
        li {
          border-top: 1px solid color(background-body);
        }
      }
    }

    // Common menu link styles.
    a {
      display: block;
      height: 100%;
      color: color(main-menu-text);
      font-weight: bold;
      text-decoration: none;
      &:hover, &:focus {
        outline: 0;
        background: color(main-menu-hover);
      }
      padding: $container-padding;
      // Leave room for the submenu toggle on mobile.
      padding-right: calc(#{$container-padding} * 2 + 2em);
      @include breakpoint(large) {
        padding: 1em #{$container-padding};
      }
    }

    // On desktop, keep the parent item hover color when over dropdowns.
    li:hover, li:focus-within > a {
      @include breakpoint(large) {
        background: color(main-menu-hover);
      }
    }

    // Make subitems a normal font weight.
    ul ul a {
      font-weight: normal;
    }

    // Add a active menu indicator line on left for mobile and dropdowns.
    a.is-active {
      box-shadow: inset 0.25em 0  color(main-menu-text);
    }

    // On desktop parents, the active menu indicator line is on bottom.
    @include breakpoint(large) {
      > ul > li > a.is-active {
        box-shadow: inset 0 -0.25em color(main-menu-text);
      }
    }

    // Hide sub-items to start.
    ul ul {
      display: none;
      background: rgba(255,255,255,.5);
      @include breakpoint(large) {
        background: color(main-menu-background);
      }
    }

    // On desktop, show dropdowns on hover.
    @include breakpoint(large) {
      > ul {
        display: flex;
        > li:hover, li:focus-within {
          position: relative;
          ul {
            display: block;
            position: absolute;
            top: 100%;
            left: 0;
            width: 20em;
          }
          // Keep the dropdown for the last item from extending past the edge.
          &:last-child {
            ul {
              right: 0;
              left: auto;
            }
          }
        }
      }
    }

    // The mobile submenu toggle button.
    li {
      position: relative;
      button.header-menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        padding: $container-padding / 2 $container-padding;
        border: 0;
        background: transparent;
        svg {
          background: rgba(255, 255, 255, .5);
          border-radius: .5em;
          border: 1.5px solid transparent;
          box-sizing: content-box;
          padding: $container-padding / 2;
        }
        &:hover {
          svg {
            background: color(main-menu-hover);
          }
        }
        &:focus {
          outline: 0;
          svg {
            border-color: color(main-menu-text);
          }
        }
        &[aria-expanded="true"] {
          svg {
            transform: rotate(180deg);
          }
          & + ul {
            display: block;
          }
        }
        @include breakpoint(large) {
          display: none;
        }
      }
    }


    // Style the any additional menus that are added to the mobile drawer.
    &:not(:first-child) {
      @include breakpoint(large) {
        display: none;
      }
      ul {
        background: color(mobile-menu-background);
      }
      li:hover > a {
        background: color(mobile-menu-hover);
      }
      a {
        color: color(mobile-menu-text);
      }
    }
  }
}
